
<div class="row" style="text-align:center; margin-top:55px;">
   
    
    <img class="img-responsive shake" onclick="givePhrase()" style="text-align:center;"  src="~/Content/Images/8ball2.jpg" />
    <div >
    <h1 class="overlay shake" id="displayPhrase" style="width:185px;">  </h1>
    </div>
</div>
